<div class="main">
    <div id="logo-nav">
        <a routerLink="" routerLinkActive="active">
            <img src="assets/footer-logo.png" alt="">
        </a>
    </div>
    <div id="elements">
        <div id="footer-link">
            <button mat-menu-item disabled="">
                <a routerLink="/book-box"><span>Contact</span></a>
            </button>

            <button mat-menu-item>
                <a routerLink="/book-box"> <span>Boîte à livres</span></a>
            </button>

            <button mat-menu-item disabled="">
                <a routerLink="/book-box"><span>Mentions légales</span></a>
            </button>
        </div>
        <div id="developer-profil">
            <ul>
                <li><a href="https://github.com/AntoineMtbn" target="_blank">@Antoine</a></li>
                <li><a href="https://github.com/LudivineSa" target="_blank">@Ludivine</a></li>
                <li><a href="https://github.com/MathildeJNL" target="_blank">@Mathilde</a></li>
            </ul>
        </div>
    </div>
</div>