.profilePicture {
  width: 8rem;
}

.flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.name {
  position: absolute;
  bottom: 0rem;
  left: 50%;
  min-width: 10rem;
  text-align: center;
  transform: translateX(-50%);
  background-color: rgba(250,250,250,1);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-weight: 500;
  margin: 0;
}

.relative {
  position: relative;
}

.level {
  font-weight: 500;
}
