.thumbnail-input {
  width: 3rem;
}

.form-field {
  width: 100%;
}

.input-field {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.author {
  margin-top: 0.5rem;
}
