#nav-burger {
    display: flex;
    box-sizing: content-box;
}

#logo-nav {
    padding: 0, 5rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0a0a0a;
}

mat-icon,
a > mat-icon {
    color: #0a0a0a;
}

img{
    height: 4rem;
}